<section class="contact">
  <div class="title">
    CONTACT ME
  </div>
  <div class="icon">
    <i class="fa-solid fa-star"></i>
  </div>
  <form class="form-group">
    <div class="content">
      <span *ngIf="hintName" class="hint">Name</span>
      <input (keydown)="showHintName()"  type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="content">
      <span *ngIf="hintEmail" class="hint">Email Address</span>
      <input  (keydown)="showHintEmail()" type="text" name="email" class="form-control" placeholder="Email Address">
    </div>
    <div class="content">
      <span *ngIf="hintPhone" class="hint">Phone Number</span>
      <input (keydown)="showHintPhone()" type="text" name="phone" class="form-control" placeholder="Phone Number">
    </div>
    <div class="content">
      <span *ngIf="hintMessage" class="hint">Message</span>
      <textarea (keydown)="showHintMessage()" type="text" name="message" class="form-control" placeholder="Message"></textarea>
    </div>
    <button class="btn">Send</button>
  </form>
</section>
