<section class="contact">
  <div class="title">
    CONTACT ME
  </div>
  <div class="icon">
    <i class="fa-solid fa-star"></i>
  </div>
  <form class="form-group">
    <div class="content">
      <span>Name</span>
      <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="content">
      <span>Email Address</span>
      <input type="text" name="email" class="form-control" placeholder="Email Address">
    </div>
    <div class="content">
      <span>Phone Number</span>
      <input type="text" name="phone" class="form-control" placeholder="Phone Number">
    </div>
    <div class="content">
      <span>Message</span>
      <textarea type="text" name="message" class="form-control" placeholder="Message"></textarea>
    </div>
    <button class="btn">Send</button>
  </form>
</section>
