<section class="portfolio">
  <div class="title">PORTFOLIO</div>
  <div class="icon">
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="projects">
    <div class="project" *ngFor="let pro of projects ; let i = index">
      <a class="overlay" data-bs-toggle="modal"   (click)="showModal(i)" data-bs-target="#showProduct"></a>
      <a class="open" data-bs-toggle="modal"   (click)="showModal(i)" data-bs-target="#showProduct">
        <i class="fa-solid fa-plus "></i>
      </a>
      <img [src]="pro.image" alt="img">
    </div>
    <app-modal [data]="selectedItem"></app-modal>
  </div>
</section>

