<section class="portfolio">
  <div class="title">PORTFOLIO</div>
  <div class="icon">
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="projects">
    <div  class="project">
      <a  class="overlay" data-bs-toggle="modal" data-bs-target="#cabin"></a>
      <a class="open" data-bs-toggle="modal" data-bs-target="#cabin">
        <i class="fa-solid fa-plus "></i>
      </a>
      <img [src] = "projects[0].image" alt="img">
        <!-- Modal -->
      <div class="modal fade" id="cabin"
      tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
          <div class="modal-header">
            <h5 class="title">{{projects[0].title}}</h5>
            <div class="icon"><i class="fa-solid fa-star"></i></div>
          </div>
          <div class="modal-body">
            <img [src] = "projects[0].image" alt="img">
          </div>
          <div class="modal-footer">
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Mollitia neque assumenda ipsam nihil, molestias magnam,
              recusandae quos quis inventore quisquam velit asperiores,
              vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            </div>
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div  class="project">
      <a  class="overlay" data-bs-toggle="modal" data-bs-target="#cake"></a>
      <a class="open" data-bs-toggle="modal" data-bs-target="#cake">
        <i class="fa-solid fa-plus "></i>
      </a>
      <img [src] = "projects[1].image" alt="img">
        <!-- Modal -->
      <div class="modal fade" id="cake"
      tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
          <div class="modal-header">
            <h5 class="title">{{projects[1].title}}</h5>
            <div class="icon"><i class="fa-solid fa-star"></i></div>
          </div>
          <div class="modal-body">
            <img [src] = "projects[1].image" alt="img">
          </div>
          <div class="modal-footer">
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Mollitia neque assumenda ipsam nihil, molestias magnam,
              recusandae quos quis inventore quisquam velit asperiores,
              vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            </div>
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div  class="project">
      <a  class="overlay" data-bs-toggle="modal" data-bs-target="#circus"></a>
      <a class="open" data-bs-toggle="modal" data-bs-target="#circus">
        <i class="fa-solid fa-plus "></i>
      </a>
      <img [src] = "projects[2].image" alt="img">
        <!-- Modal -->
      <div class="modal fade" id="circus"
      tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
          <div class="modal-header">
            <h5 class="title">{{projects[2].title}}</h5>
            <div class="icon"><i class="fa-solid fa-star"></i></div>
          </div>
          <div class="modal-body">
            <img [src] = "projects[2].image" alt="img">
          </div>
          <div class="modal-footer">
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Mollitia neque assumenda ipsam nihil, molestias magnam,
              recusandae quos quis inventore quisquam velit asperiores,
              vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            </div>
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div  class="project">
      <a  class="overlay" data-bs-toggle="modal" data-bs-target="#controller"></a>
      <a class="open" data-bs-toggle="modal" data-bs-target="#controller">
        <i class="fa-solid fa-plus "></i>
      </a>
      <img [src]="projects[3].image" alt="img">
        <!-- Modal -->
      <div class="modal fade" id="controller"
      tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
          <div class="modal-header">
            <h5 class="title">{{projects[3].title}}</h5>
            <div class="icon"><i class="fa-solid fa-star"></i></div>
          </div>
          <div class="modal-body">
            <img [src] = "projects[3].image" alt="img">
          </div>
          <div class="modal-footer">
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Mollitia neque assumenda ipsam nihil, molestias magnam,
              recusandae quos quis inventore quisquam velit asperiores,
              vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            </div>
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div  class="project">
      <a  class="overlay" data-bs-toggle="modal" data-bs-target="#safe"></a>
      <a class="open" data-bs-toggle="modal" data-bs-target="#safe">
        <i class="fa-solid fa-plus "></i>
      </a>
      <img [src]="projects[4].image" alt="img">
        <!-- Modal -->
      <div class="modal fade" id="safe"
      tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
          <div class="modal-header">
            <h5 class="title">{{projects[4].title}}</h5>
            <div class="icon"><i class="fa-solid fa-star"></i></div>
          </div>
          <div class="modal-body">
            <img [src] = "projects[4].image" alt="img">
          </div>
          <div class="modal-footer">
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Mollitia neque assumenda ipsam nihil, molestias magnam,
              recusandae quos quis inventore quisquam velit asperiores,
              vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            </div>
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div  class="project">
      <a  class="overlay" data-bs-toggle="modal" data-bs-target="#submarin"></a>
      <a class="open" data-bs-toggle="modal" data-bs-target="#submarin">
        <i class="fa-solid fa-plus "></i>
      </a>
      <img [src] ="projects[5].image" alt="img">
        <!-- Modal -->
      <div class="modal fade" id="submarin"
      tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
          <div class="modal-header">
            <h5 class="title">{{projects[5].title}}</h5>
            <div class="icon"><i class="fa-solid fa-star"></i></div>
          </div>
          <div class="modal-body">
            <img [src] = "projects[5].image" alt="img">
          </div>
          <div class="modal-footer">
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Mollitia neque assumenda ipsam nihil, molestias magnam,
              recusandae quos quis inventore quisquam velit asperiores,
              vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            </div>
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>


  <!-- <router-outlet></router-outlet> -->


  <!-- Modal -->
  <!-- <div class="modal fade" id="showProduct" *ngFor="let pro of projects"
    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
        <div class="modal-header">
          <h5 class="title">{{pro.title}}</h5>
          <div class="icon"><i class="fa-solid fa-star"></i></div>
        </div>
        <div class="modal-body">
          <img [src]="pro.image" alt="img">
        </div>
        <div class="modal-footer">
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Mollitia neque assumenda ipsam nihil, molestias magnam,
            recusandae quos quis inventore quisquam velit asperiores,
            vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          </div>
          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
        </div>
      </div>
    </div>
  </div> -->
</section>

