<div class="modal fade" id="cabin"
    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <span class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2x"></i></span>
        <div class="modal-header">
          <h5 class="title">LOG CABIN</h5>
          <div class="icon"><i class="fa-solid fa-star"></i></div>
        </div>
        <div class="modal-body">
          <img src="../../assets/images/cabin.png" alt="img">
        </div>
        <div class="modal-footer">
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Mollitia neque assumenda ipsam nihil, molestias magnam,
            recusandae quos quis inventore quisquam velit asperiores,
            vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          </div>
          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><span>x</span>close window</button>
        </div>
      </div>
    </div>
</div>
